*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}
li{
  text-decoration: none;
  list-style: none;
  a{
    text-decoration: none;
  }
}
a{
  text-decoration: none;
}

input{
  border: none;
}
.material-icons{
  cursor: pointer;
}
p{
  font-size: var(--primary_font);
}
img{
  max-width: none;
  // display: inline;
}
.woocommerce{
  font-size: 1.6rem;
  .col-1, .col-2{
  max-width:none !important;
  }
}
// .right-sidebar{
//   float: none;
// }
