.mr-auto{
    margin: auto;
}
.bg-black{
    background-color: var(--color_black);
}
.color-white{
    color: var(--color_white);
}
.full-width{
    
    width: 100%;
}
.pd-0{
    padding: 0 !important;
}
.px-1{
    padding: 0 1rem;
}