.shop_card{
    .image_container{
        position: relative;
        text-align: center;

        &::after{
            content: '';
            width: 80%;
            height: 98%;
            background-color: var(--color_black);
            opacity: 0;
            visibility: hidden;
            transition: all 300ms;
            position: absolute;
            top: 0;
            left: 10%;
        }


        .condition{
            position: absolute;
            padding: .8rem 1.6rem;
            background-color: var(--theme-color);
            font-size: var(--extra_small_font);
            color: var(--color_white);
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }
    //    .image_wraper{
           img{
            width: 80%;
            // display: block;
        // }
       }
        .content{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: var(--color_white);
                color: var(--color_black);
                display: flex;
                padding: .5rem 1rem;
                align-items: center;
                transition: all 300ms;
            span{
                display: block;
            }
            .item_link{
                margin-left: 1rem;
                // font-family: 'Roboto';
                a{
                    text-decoration: none;
                    font-size: var(--small_font);
                }
            }
        }

        // background-color: royalblue;
    }
    .item_content{
        // background-color: red;
        border: 3px solid var(--color_gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        margin-top: -80px;
        .title{
            font-size: var(--primary_font);
            margin: 5px 0;
        }
        span{
            font-size: var(--small_font);
            color: var(--color_black);
            font-weight: bold;
            font-family: 'Roboto';
        }
        .price--regular{
            text-decoration: line-through;
        }
        .price--special{
            color: var(--theme-color);
            margin-right: 10px;
        }
        .btn{
            width: 50%;
            margin: 2rem 0;
        }
    }

    &:hover{

        .image_container{
            &::after{
                visibility: visible;
                opacity: .5;
                z-index: 0;
            }

            .content{
                visibility: visible;
                opacity: .8;
                z-index: 1;

                &:hover{
                    background-color: var(--theme-color);
                    color: var(--color_white);
                    a{color: var(--color_white);}
                }
            }
        }

        .item_content{
            border: 3px solid var(--theme-color);
        }


    }
}
